- 
  let menu = [{
    name: 'Home',
    link: 'index.html'
    },
    name: 'cursos',
    link: ''
    },
    name: 'Blog',
    link: ''
    },
    name: 'Apps',
    link: ''
    },
    name: 'Desarrollos',
    link: ''
    },
    name: 'Sobre nosotros',
    link: ''
    },
    name: 'YouTube',
    link: ''
    },
    name: 'Redes Sociales',
    link: ''
    }
  ]