.btn {
    border-radius: 5px;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background: var(--primary-color);
}

.btn-accent {
    color: white;
    background: var(--accent-color);
}