.container-menu {
    border: 1px solid var(--color-black);
}

.menu {
    display: flex;
    justify-content: space-around;
    &__item {
        list-style: none;
    }
    &__link {
        text-decoration: none;
        color: var(--color-black);
        display: block;
        width: 100%;
        padding: .5rem 1rem;
        &.active {
            color: var(--accent-color)
        }
        &:hover {
            color: var(--accent-color);
            background: var(--primary-color);
        }
    }
}