.header-container
  .header-container__header
    img.header__img(src="img/xizuth_logo.svg", alt="xizuth logo")
    h1.header__title Xizuth 
    h3.header__copy Expande tu conocimiento
  nav.container-menu
    ul.menu
      li.menu__item: a(href="#").menu__link.active Home
      li.menu__item: a(href="#").menu__link Cursos
      li.menu__item: a(href="#").menu__link Blog
      li.menu__item: a(href="#").menu__link Apps
      li.menu__item: a(href="#").menu__link Desarrollos
      li.menu__item: a(href="#").menu__link Sobre nosotros
      li.menu__item: a(href="#").menu__link YouTube
      li.menu__item: a(href="#").menu__link Redes sociales
