:root {
    --primary_color: #6BB8FF;
    --accent: #e74124;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: var(--primary_color);
}

a,
img {
    display: block;
}

.container-main {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.banner-main {
    width: 100%;
    height: 50%;
}

.banner-img {
    width: 100%;
    margin: auto;
}

.container-apps {
    width: 100%;
}

.container-app img {
    width: 70%;
    margin: auto;
    padding: 2em 0;
}

@media screen and (min-width:480px) {
    .container-apps {
        display: flex;
        flex-wrap: wrap;
    }
    .container-app {
        width: 50%;
    }
}

@media screen and (min-width:820px) {
    .banner-main {
        margin-bottom: 6em;
    }
}

@media screen and (min-width:820px) {
    .banner-main {
        margin-bottom: 6em;
    }
    .container-apps {
        flex-wrap: nowrap;
    }
}

footer {
    background: #333;
    height: 4em;
}

footer ul {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
    
}

footer li {
    padding: 0 1em;
    flex: auto;
    display: flex;
    justify-content: center;
}

ul li a {
    font-size: .8em;
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
}

/*style error 404*/

.error-container{
    padding-top: 5em;
    width: 80%;
    margin: auto;
}

.title-not-found{
    font-size: 4em;
    text-transform: capitalize;
    font-weight: normal;
    padding-bottom: .5em;
    color: #333;
}

.button-go-home{
    display: inline-block;
    line-height: 1.6;
    padding: 0 1em;
    background-color: white;
    border: 1px solid var(--accent);
    border-radius: 10px;
    text-decoration: none;
    color: var(--accent);
}